/*define global variables for CSS*/
:root {
  --color-dark: rgba(130, 230, 0, 0.7);
  --color-light: rgba(130, 230, 0, 0.8);

  --color-form-light: rgba(255, 255, 255, 0.05);
  --color-form-dark: rgba(255, 255, 255, 0.35);

  --color-button-light: rgba(255, 255, 255, 0.1);
  --color-button-dark: rgba(255, 255, 255, 0.25);

  --color-text: black;

  --inputBox-width: 200px;
  --addNewCustomerButton-width: 40px;
}

/*Reset all elements on the website */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  background: var(--color-light);
  background: linear-gradient(
    to top right,
    var(--color-dark),
    var(--color-light)
  );
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  height: 100vh; /*100% height of the window*/
  justify-content: center;
  width: 100vw; /*100% width of the window*/
}

img {
  width: 200px;
  display: block;
  margin: 0 auto 30px auto;
}
/*Title*/
.Title-container {
  margin-bottom: 50px;
}
h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

h2 {
  font-size: 25px;
}

/*Entire Form*/
form {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 36px 30px;
  text-align: center;
  justify-content: center;
}

.imputSection-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 15px;
}
/*All Input Labels*/
label {
  color: var(--color-text);
}

/*All input containers*/
.form_input-container {
  margin: 0 0 10px 0;
}

/*Customer Section*/
.cutomerImputAndButton-container {
  margin: 0;
  display: inline;
}

.customerInputAndButton-container {
  display: inline;
}

.customerInput {
  width: calc(var(--inputBox-width) - var(--addNewCustomerButton-width) - 5px);
}

.addCustomerButton {
  background: linear-gradient(
    to left,
    var(--color-button-light),
    var(--color-button-dark)
  );
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 18px;
  color: var(--color-text);
  padding: 12px 2px 12px 2px;
  width: var(--addNewCustomerButton-width);
}

/*Button to inicialize a macros*/
.addProjectButton {
  align-items: center;
  width: max-content;
}

input,
.addProjectButton {
  background: linear-gradient(
    to left,
    var(--color-button-light),
    var(--color-button-dark)
  );
  border: none;
  border-radius: 18px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
  color: var(--color-text);
  padding: 12px 24px;
  width: var(--inputBox-width);
  transition: box-shadow 0.3s;
}

label {
  color: var(--color-text);
}

/*Button and label behavior when active*/

input:hover,
.addProjectButton:hover,
.addCustomerButton:hover {
  box-shadow: 0px 8px 12px 0;
}
